# ==========================================================
# Python
# ==========================================================

__pycache__/
*.py[cod]
*$py.class

# ==========================================================
# Virtual Environment
# ==========================================================

venv/
.venv/
env/
ENV/
smartcityenv/

# ==========================================================
# Jupyter Notebook
# ==========================================================

.ipynb_checkpoints/

# ==========================================================
# VS Code / PyCharm
# ==========================================================

.vscode/
.idea/

# ==========================================================
# Operating System
# ==========================================================

.DS_Store
Thumbs.db

# ==========================================================
# Python Distribution
# ==========================================================

build/
dist/
*.egg-info/

# ==========================================================
# Logs
# ==========================================================

logs/
*.log

# ==========================================================
# Cache
# ==========================================================

.pytest_cache/
.mypy_cache/
.cache/

# ==========================================================
# Models
# ==========================================================

models/*.joblib
models/*.pkl

# ==========================================================
# Outputs
# ==========================================================

outputs/*.csv
outputs/*.png
outputs/*.jpg
outputs/*.jpeg

# Keep folder
!outputs/.gitkeep

# ==========================================================
# Temporary Files
# ==========================================================

*.tmp
*.bak
*.swp

# ==========================================================
# Environment Variables
# ==========================================================

.env

# ==========================================================
# Streamlit
# ==========================================================

.streamlit/secrets.toml